<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap" rel="stylesheet" />

    <script src="libraries/p5.js"></script>
    <script src="libraries/p5.dom.js"></script>
    <script src="libraries/p5.sound.js"></script>
    <script src="javascripts/script.js"></script>
    <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
    <style>
        body {
      font-family: Arial, sans-serif;
      margin: 0;
    }

    nav {
      background-color: #c88ea7;
      color: #000;
      padding: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
    }

    li {
      margin-right: 20px;
      text-align: center;
    }

    a {
      text-decoration: none;
      color: #2f2e41;
      font-weight: bold;
      transition: color 0.3s;
    }

    a:hover {
      color: #000;
    }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/profile">Profile</a></li>
            <li class="login-link"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <button type="button" placeholder="Train Model" name="train" id="train" onclick="beginTraining()"
        style="align-items: baseline;">Train</button>
    <div class="container-fluid">
        <div class="container-fluid" style="width: 70%">
            <div class="jumbotron">
                <h3 class="display-4 heading">Gesturesync</h3>
                <p class="lead" style="text-align: center">
                    Translating Hands to Hearts
                </p>
            </div>
        </div>
        <div class="container-fluid">
            <div id="canvasContainer">
                <div class="info">
                    <h2 style="text-align: center; margin: 1rem">Prediction</h2>
                    <h6 style="margin-left: 1rem; text-align: center">
                        Currently available Gestures - A || B || C || D
                    </h6>
                    <h1 id="res">A</h1>
                    <div class="score" style="margin-left: 1.5rem">
                        Confidence: <span id="confidence"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>